.noData {
  text-align: center;
  padding: 100px 0;
  box-sizing: border-box;
  .img {
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url(./images/nd.jpg) no-repeat center;
  }
}
.font {
  font-size: 18px;
  color: #969696;
}
