.rank {
  //margin: 20px 0;
  height: 20px;
  line-height: 20px;
  //font-size: 1.4rem;
  dt {
    display: inline-block;
    width: 40px;
    text-align: center;
    vertical-align: top;
  }
  dd {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    div {
      position: absolute;
      height: 100%;
      width: 0;
      //background: #968eda;
      border-radius: 10px;
      transition: 2.8s;
    }
    span{
      position: absolute;
    }
  }
}

/*
.first {
  dt {
    color: #e7cb2b;
  }
  dd div {
    background: linear-gradient(to right, #ea7014 0, #fada00 100% );
  }
}*/
