.content {
  padding: 0 20px;
  margin: 20px auto;
  text-align: center;

  .message {
    font-size: 18px;
    display: block;
    margin-top: 24px;
    color: #ee5357;
  }

  p {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
  }
  // span {
  //   font-size: 18px;
  //   display: block;
  //   margin-top: 24px;
  // }
  img {
    width: 200px;
    height: 210px;
    display: block;
    margin: 0 auto;
  }
  .ok {
    width: 220px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    text-align: center;
    background: #ed5758;
    margin-top: 35px;
  }
  .spanlabel {
    margin-right: 10px;
  }

}
