.container {
    width: 660px;
    margin: 0 auto;
    padding: 20px 0;
    .innner {
        width: 100%;
        padding: 0 20px;
        font-size: 14px;
        img {
            display: block;
            margin: 15px auto;
            max-width: 100%;
            height: auto;
        }
    }
    .articleHeader {
        h5 {
            word-break: break-all;
            margin: 20px 0 0;
            font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
                WenQuanYi Micro Hei, sans-serif;
            font-size: 34px;
            font-weight: 700;
            line-height: 1.3;
        }
    }
    .author {
        margin: 30px 0 40px;
    }
    .comments {
        margin-top: 80px;
        margin-bottom: 25px;
        textarea {
            display: block;
            padding: 10px 15px;
            width: 100%;
            height: 80px;
            font-size: 13px;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            background-color: hsla(0, 0%, 71%, 0.1);
            resize: none;
            display: inline-block;
            vertical-align: top;
            outline-style: none;
        }
        .btns {
            margin-top: 10px;
            text-align: right;
            .cancel {
                display: inline-block;
                margin-right: 30px;
                font-size: 16px;
                color: #969696;
                cursor: pointer;
                &:hover {
                    color: #2f2f2f;
                }
            }
            .sendComments {
                display: inline-block;
                width: 78px;
                margin-left: 30px;
                margin: 10px 0;
                padding: 8px 0;
                text-align: center;
                font-size: 16px;
                border: none;
                border-radius: 20px;
                color: #fff;
                background-color: #3db922;
                cursor: pointer;
                outline: none;
                &:hover {
                    background-color: #1f800a;
                }
            }
        }
    }
    .commentsList {
        font-size: 14px;
        h4 {
            font-size: 17px;
            font-weight: 700;
            padding-bottom: 20px;
            border-bottom: 1px solid #f0f0f0;
        }
        .replayComment {
            padding: 20px 0 15px;
            border-bottom: 1px solid #f0f0f0;
        }
        header {
            display: flex;
            height: 40px;
            margin-bottom: 15px;
            align-items: center;

            img {
                display: block;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .userInfo {
                height: 38px;
                font-size: 12px;
                color: #969696;
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #333;
                }
            }
        }
        .commentLabel {
            font-size: 16px;
            color: #333;
            margin: 0;
        }
        .rep {
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
            color: #969696;
            i {
                margin-right: 5px;
            }
            &:hover {
                color: #333;
            }
        }
    }
}
