.container {
    display: flex;
    width: 1170px;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    * {
        box-sizing: border-box;
    }
    .left {
        width: 750px;
        .img {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            min-height: 100px;
            border-radius: 6px;
            background-color: hsla(0,0%,71%,.2);
        }
    }
    .right {
        width: 355px;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        img {
            display: inline-block;
            width: 48px;
            height: 48px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .inner {
            display: inline-block;
            padding-bottom: 5px;
            p {
                margin: 0;
                font-size: 13px;
                color: #969696;
            }
            p.title {
                color: #333;
                font-size: 14px;
            }
        }
        .attention {
            cursor: pointer;
        }
    }
    .flexEnd {
        display: flex;
        align-items: flex-end;
    }
    .flexColumn {
        display: flex;
        flex-direction: column;
    }
}

